---
name: {{ python_import_name }}
channels:
  - conda-forge
dependencies:
  # see deprecation windows:
  # https://scientific-python.org/specs/spec-0000/#support-window
  - python={{ default_python_version~ ".*" }}
  - cython
  - pip
  - ipywidgets
  - joblib
  - notebook
  - numpy>={{ oldest_supported_numpy }},<{{ newest_numpy_limit }}
  - openpyxl
  - pandas<2
  - pandera
  - scikit-learn
  - scipy
  - tqdm
  - xlrd
  ## plotting
  - cmcrameri
  - matplotlib
  - seaborn
  ### utilities requirements
  - azure-identity
  - azure-keyvault-secrets
  - keyring
  - python-dateutil
  - pyodbc
  - pyyaml
  - redis-py>=4.5.5
  - snowflake-connector-python
  # - snowflake-snowpark-python # python version incompatibility
  - snowflake-sqlalchemy
  - sqlalchemy
  ### mlflow requirements
  - azure-storage-blob
  - azure-storage-common
  - azure-storage-file-share
  - mlflow==2.3.2
  ### for dev install
  - black
  - coverage
  - numpydoc
  - pytest
  - pytest-asyncio
  # - pytest-azurepipelines
  - pytest-cov
  - ruff
  - sphinx
  - sphinx-rtd-theme
