import logging
from pathlib import Path
{%- if is_python_package %}

# assumes:
# {{ project_name }}
# ├ src/
# | └ {{ python_import_name }}
# |   └ __init__.py - (this file)
# └ VERSION
with open(Path(__file__).parent.parent / "VERSION", "r") as f:
    __version__ = f.readline().strip()
{%- endif %}

# add nullhandler to prevent a default configuration being used if the calling application doesn't set one
logging.getLogger(__name__).addHandler(logging.NullHandler())
