.. {{ python_import_name }} documentation master file, created by sphinx-quickstart
   You can adapt this file completely to your liking, but it should at least
   contain the root `toctree` directive.

Welcome to {{ python_import_name }}'s documentation!
============================{{ "=" * (python_import_name | length) }}

.. toctree::
   :maxdepth: 4
   :caption: Contents:

   {{ python_import_name }}
   changelog

Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
